<div class="row">
  <div class="col-md-12">
    <h1>About TTS Recipe Collection</h1>

    <p>
    Passed on for many centuries, these recipes were only verbally spoken to selected few, sworn to secrecy.<br>
    It is only now that these recipes are surfacing and presented on this website, so enjoy!<br><br>

    This website was created during Tech Talent South's Spring 2015 Cohort in New Orleans.<br>
    <a href="http://techtalentsouth.com/">Tech Talent South</a> is a code immersion program focused on web app development.<br>
    Topics learned and implemented include Ruby on Rails, HTML/CSS, JavaScript/jQuery, and professional web development tactics.
    </p>

    <h2>Contributers</h2>
    <ul>
      <li>
        <strong>Sia Karamalegos</strong>, <em>Head Chieftain</em>
        <a href="https://github.com/siakaramalegos" alt="Sia Karamalegos on GitHub" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      </li>
      <li>
        <strong>Sabrina Marlbrough</strong>
        <a href="https://github.com/smrlbrgh" alt="Sabrina Marlbrough on GitHub" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      </li>
        <li>
        <strong>Anne Richardson</strong>
        <a href="https://github.com/lortza" alt="Anne Richardson on GitHub" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      </li>
      <li>
        <strong>Kevin Truong</strong>
        <a href="https://github.com/truongmkevin" alt="Kevin Truong on GitHub" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      </li>
      <li>
        <strong>Leigh Turland</strong>
        <a href="https://github.com/wlturland" alt="Leigh Turland on GitHub" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      </li>
      <li>
        <strong>Robert Turner</strong>
        <a href="https://github.com/RHTurnerNOLA" alt="Robert Turner on GitHub" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      </li>
      <li>
        <strong>Rick Kadlac</strong>
        <a href="https://github.com/evorick" alt="Rick Kadlac on GitHub" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      </li>
    </ul>
  </div>
</div>
