<h1>About TTS Recipe Collection</h1>

<p>
Passed on for many centuries, these recipes were only verbally spoken to selected few, sworn to secrecy.<br>
It is only now that these recipes are surfacing and presented on this website, so enjoy!<br><br>

This website was created during Tech Talent's South Spring 2015 Cohort.
</p>

<h2>Contributers</h2>
<ul>
  <li>
    <strong>Sia Karamalegos</strong>, <em>Head Chieftain</em>
    <a href="https://github.com/siakaramalegos" target="_blank"><i class="fa fa-github fa-2x"></i></a>
  </li>
  <li>
    <strong>Sabrina Marlbrough</strong>
    <a href="https://github.com/smrlbrgh" target="_blank"><i class="fa fa-github fa-2x"></i></a>
  </li>
  <li>
    <strong>Kevin Truong</strong>
    <a href="https://github.com/truongmkevin" target="_blank"><i class="fa fa-github fa-2x"></i></a>
  </li>
  <li>
    <strong>Leigh Turland</strong>
    <a href="https://github.com/wlturland" target="_blank"><i class="fa fa-github fa-2x"></i></a>
  </li>
  <li>
    <strong>Robert Turner</strong>
    <a href="https://github.com/RHTurnerNOLA" target="_blank"><i class="fa fa-github fa-2x"></i></a>
  </li>
</ul>
