</div>
<div class="jumbotron">
  <div class="boxy">
    <h1>Cook me something, Mister!</h1>
    <p>A collection of recipes from one New Orleans coding bootcamp's students and alumni</p>
    <br>
    <p><%= link_to "Learn about us", pages_about_path, class: "btn btn-danger btn-lg", role: "button" %></p>
  </div>
</div>