/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*  ---- SITE-WIDE STYLES ---- */

body {
  margin-top: 50px;
  background-color: #f3f3f3;
}

.container {
  background-color: white;
  border-radius: 20px;
  /*padding: 20px;*/
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-email {
  padding: 19.5px 15px 19.5px 15px;
}

/*.fa {
  margin-left: 10px;
  margin-right: 10px;
}*/

.td {
  vertical-align: top;
}

/*  ---- RECIPE INDEX STYLES ---- */

.panel-body {
  max-height: 300px;
  overflow: hidden;
}

.panel-body img {
  width: 100%;
}


/*  ---- MODAL STYLES ---- */

.modal-body img {
  margin-bottom: 20px;
}

.ingredients {
  background-color: #f3f3f3;
  padding: 0px 10px 10px 10px;
  border-right: 2px solid #f3f3f3;
  min-height: 300px;
  margin-left: 10px;
}

.steps {
  margin-right: -10px;
}