// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background: image-url("food1.jpg") no-repeat fixed;
  background-size: cover;
  color: white;

  .boxy {
    background-color: rgba(255,255,255,0.6);
    padding: 40px;
    margin-top: 40px;

    h1 {
      color: #DE7700;
      text-shadow: 1px 1px #444;
    }

    p {
      color: #444;
    }
  }
}
